/*Colors*/
.orangebg{
    background-color: #FF6500;
}
.orangefg{
    color: #FF6500;
}

.bluebg{
    background-color: #1E3E62;
}
.bluefg{
    color: #1E3E62;
}

.darkbluebg{
    background-color: #0B192C;
}
.darkbluefg{
    color: #0B192C;
}

.blackbg{
    background-color: #000000;
}
.blackfg{
    color: #000000;
}
/* Login Form*/
/* Login Form */
.login-form {
    width: 100%;
    max-width: 500px; /* Aumentado para tornar a caixa maior */
    padding: 20px;
    margin: auto;
}

.login-form-container {
    border: 2px solid #1E3E62;
    padding: 40px; /* Mais padding para aumentar o espaço interno */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 40vw; /* Ocupar mais largura na viewport */
    height: 60vh; /* Ocupar mais altura na viewport */
}

.login-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.login-form-header img {
    width: 250px; /* Aumentar o tamanho do logótipo */
    height: auto;
    margin-bottom: 10px;
}

.logo-form-header h1 {
    font-size: 2.5rem; /* Texto maior para o título */
    font-weight: bold;
    color: #FF6500;
}

.login-form-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}