/*Colors*/
.orangebg{
    background-color: #FF6500;
}
.orangefg{
    color: #FF6500;
}

.bluebg{
    background-color: #1E3E62;
}
.bluefg{
    color: #1E3E62;
}

.darkbluebg{
    background-color: #0B192C;
}
.darkbluefg{
    color: #0B192C;
}

.blackbg{
    background-color: #000000;
}
.blackfg{
    color: #000000;
}

head, body {
    height: 100%;
}

body{
    background-color: #C9E6F0 !important;  /* Important is needed to overwrite boostrap white background */
}

/* Login Form */
.login-form {
    width: 100%;
    max-width: 500px; /* Aumentado para tornar a caixa maior */
    padding: 20px;
    margin: auto;
}

.login-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form-labels{
    font-weight: 700;
    color: #FE6306;
}