.orangebg{
    background-color: #FF6500;
}
.orangefg{
    color: #FF6500;
}

.bluebg{
    background-color: #1E3E62;
}
.bluefg{
    color: #1E3E62;
}

.darkbluebg{
    background-color: #0B192C;
}
.darkbluefg{
    color: #0B192C;
}

.blackbg{
    background-color: #000000;
}
.blackfg{
    color: #000000;
}

.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.login-form-container{
    border: #000000 1px solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}