
body{
    background-color: #C9E6F0 !important;  /* Important is needed to overwrite boostrap white background */
}

/* Container do perfil e atividade */
.profile-container {
    height: auto;
    width: 100%;
}
.header-profile{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.header-logo{
    width: 100px;
}

.profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 25%;
    object-fit: cover;
    object-position: top;
}
.form-label-coloring{
    font-weight: 550;
    color: #1E3E62;
}
.meses {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.heatmap {
    display: grid;
    grid-template-rows: repeat(7, 15px); /* 7 dias da semana */
    grid-template-columns: repeat(53, 15px); 
    justify-content: center;
    align-items: center;
    background-color: #1E3E62;
}

.legend {
    text-align: right;
    font-size: 0.8rem; /* Tamanho pequeno */
    line-height: 1.5; /* Espaçamento entre linhas */
    padding-right: 5px;
    justify-content: end;
}



.day {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #ddd; /* Base padrão */
}


/* Definir cores de acordo com a intensidade de contribuições */
.level-1 { background-color: white; } /* Nenhuma contribuição */
.level-2 { background-color: #4CAF50; } /* Baixa atividade */
.level-3 { background-color: #F44336; } /* Média atividade */